$background-color: rgb(218, 215, 210);
$text-color: rgb(255, 2, 129);
$border-color: rgb(255, 2, 129);
$base-color: rgb(255, 2, 129);
$input-height: 25px;
$primary-color: rgb(255, 2, 129);

$text-font: 'Mukta Vaani', sans-serif;
$heading-font: 'Questrial', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@200&family=Questrial&display=swap');